<div class="table-container">
    <div class="filter-section">
        <div class="dashboard-header">
            <h2>Mis Drops</h2>
            <!-- Botón para crear un nuevo producto -->
            <a href="/products/create" class="btn btn-primary">+ Nuevo</a>
        </div>
        <div>
            <button>Filtrar</button>
            <select>
                <option>Mostrar 50</option>
                <!-- Más opciones -->
            </select>
            <input type="text" placeholder="Buscar drop" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Precio con Descuento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.stock %></td>
                        <td>$<%= product.price %></td>
                        <td>$<%= product.discountPrice %></td>
                        <td>
                            <a href="/products/<%= product.id %>/edit">Editar</a> |
                            <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="btn">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5" class="table-empty">No se encontraron drops<br>Qué esperas para empezar a vender</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
