<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrateDrop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('partials/header') %>

    <!-- Contenedor Principal -->
    <div class="main home-container">
        <!-- Sección de Banners -->
        <div class="main-banner">
            <div class="carousel">
                <div class="carousel-inner">
                    <img src="/images/img/banner1.jpg" alt="Banner 1">
                    <img src="/images/img/banner2.jpg" alt="Banner 2">
                </div>
            </div>
            <div class="banner1">
                <img class="primerBanner" src="/images/img/banner-cuadrado1.jpg" alt="Banner Cuadrado 1">
            </div>
        </div>

        <!-- Categorías Populares -->
        <div class="popular-categories">
            <h2>CATEGORÍAS POPULARES</h2>
            <div class="popular-items">
                <% categorias.forEach(categoria => { %>
                    <div class="popular-item">
                        <img src="<%= categoria.image %>" alt="Icono <%= categoria.name %>">
                        <div><%= categoria.name %></div>
                    </div>
                <% }) %>
            </div>
        </div>

        <!-- Productos Recomendados -->
        <div class="recommended-items">
            <h2>PRODUCTOS RECOMENDADOS</h2>
            <div class="item-recommended">
                <% products.forEach(product => { %>
                    <div class="floating-item-container-wrapper">
                        <div class="floating-item-container">
                            <div class="floating-item-image">
                                <img src="<%= product.image %>" alt="<%= product.name %>">
                            </div>
                            <div class="floating-item-info">
                                <h3 class="item-title"><%= product.name %></h3>
                                <p class="product-description"><%= product.description %></p>
                                <p class="item-price">$<%= product.price %></p>
                                <a href="/products/productDetails/<%= product.id %>" class="view-details-button">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <!-- Sección de Información Adicional -->
        <div class="banner-info">
            <img src="/images/img/banner-final.jpg" alt="Banner Información">
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="/javascripts/scripts.js"></script>
</body>

</html>
