<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/createProduct.css">
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        <h1>Editar Producto</h1>
        <form action="/products/edit/<%= product.id %>" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Nombre del Producto:</label>
                <input type="text" id="name" name="name" value="<%= product.name %>" required>
            </div>
            <div>
                <label for="item">Item:</label>
                <input type="text" id="item" name="item" value="<%= product.item %>" required>
            </div>
            <div>
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" required><%= product.description %></textarea>
            </div>
            <div>
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" value="<%= product.price %>" required>
            </div>
            <div>
                <label for="quantity">Cantidad:</label>
                <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" required>
            </div>
            <div>
                <label for="discount">Descuento:</label>
                <select id="discount" name="discount">
                    <option value="no" <%= product.discount === "no" ? "selected" : "" %>>No</option>
                    <option value="yes" <%= product.discount === "yes" ? "selected" : "" %>>Sí</option>
                </select>
            </div>
            <div>
                <label for="image">Subir Imagen:</label>
                <input type="file" id="image" name="image">
                <small>Deja este campo vacío si no deseas cambiar la imagen.</small>
            </div>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
